/*header {
  background-color: var(--main-color);
  position: relative;
  width: 1920px;
  height: 1080px;
  text-align: center;
}
.corner {
  font-family: var(--main-font);
  position: relative;
  top: 30px;
  left: 100px;
  width: 228px;
  height: 48px;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0%;
  line-height: 160%;
}
nav {
  display: flex;
  gap: 30px;
  width: 324px;
  height: 32px;
  position: relative;
  top: 38px;
  left: 798px;
}
nav a {
  font-family: var(--main-font);
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}
